name: colourlovers_app
description: "Discover endless color inspiration from the COLOURlovers community"
version: 2.1.0+20

publish_to: 'none'

environment:
  sdk: '>=3.11.0 <4.0.0'
  flutter: ">=3.41.0"

dependencies:
  flutter:
    sdk: flutter

  # state management and data storage
  equatable: ^2.0.8
  fast_immutable_collections: ^11.1.0
  flutter_bloc: ^9.0.0
  flutter_data_storage:
    git:
      url: https://github.com/albemala/flutter_data_storage.git
      ref: 3.5.0
  # v1 data migration
  path_provider: ^2.1.5
  crypto: ^3.0.7

  # UI
  flex_color_scheme: ^8.4.0
  google_fonts: ^8.0.2
  lucide_icons: ^0.257.0
  another_xlider: ^3.0.2
  aurora: ^1.0.0

  # utils
  collection: ^1.18.0
  clipboard: ^3.0.14

  # support
  package_info_plus: ^8.3.1
  device_info_plus: ^11.5.0
  share_plus: ^12.0.1
  url_launcher: ^6.3.2
  in_app_review: ^2.0.11
  send_support_email:
    git:
      url: https://github.com/albemala/send_support_email.git
      ref: 3.0.0

  hexcolor: ^3.0.2

  colourlovers_api:
    git:
      url: https://github.com/albemala/colourlovers-api-dart.git
      ref: main

  sentry_flutter: ^9.13.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  mocktail: ^1.0.4
  # flutter test --update-goldens test/screenshots/take_screenshots_test.dart
  golden_screenshot: ^10.0.0

  build_runner: ^2.11.1
  icons_launcher: ^3.0.3
  package_rename: ^1.10.1

  very_good_analysis: ^10.2.0

flutter:
  uses-material-design: true

  assets:
    - assets/app-icon/
    - assets/fonts/Archivo/
    - assets/fonts/Archivo_Narrow/
    - assets/items/
    - assets/items/colors/
    - assets/items/palettes/
    - assets/items/patterns/
    - assets/other_apps_icons/

# dart run icons_launcher:create && flutter clean && flutter pub get
icons_launcher:
  image_path: "assets/app-icon/icon.png"
  platforms:
    macos:
      enable: true
      image_path: "assets/app-icon/macos-icon.png"
    windows:
      enable: true
    linux:
      enable: true
    web:
      enable: false
      # favicon_path: 'assets/ic_logo_round.png'
    android:
      enable: false
    ios:
      enable: false

# dart run package_rename
package_rename_config:
  android:
    app_name: LUV
    package_name: me.albemala.luv
  ios:
    app_name: LUV
    bundle_name: LUV
    package_name: me.albemala.luv
  macos:
    app_name: LUV
    package_name: me.albemala.luv
    copyright_notice: Copyright © 2025 Alberto Malagoli (albemala.me). All rights reserved.
  windows:
    app_name: LUV
    organization: albemala.me
    copyright_notice: Copyright © 2025 Alberto Malagoli (albemala.me).
    exe_name: LUV
  linux:
    app_name: LUV
    package_name: me.albemala.luv
    exe_name: LUV
  web:
    app_name: LUV
#    description: